.page__hd{
  width: 100%;
  height: 150px;
  /* background-color: red; */
}
.page__hd img{
  display: inline-block;
  width: 80px;
  height:60px ;
  text-align: center;
  /* margin:30px 30% 50px 25%; */
  padding: 15px 38% 1px 38%;
}
.page__hd p{
  color: green;
  font-size: 20px;
  text-align: center;
}
.page__bd{
  width: 100%;
  height: 150px;
  /* background-color: blue; */
}
.page__bd p{
  text-align: center;
}
.page__bd .pay_name{
  margin-top: 25px;
  font-size: 17px; 
}
.page__bd .pay_price{
  font-size: 30px;
  font-weight: bold;
  margin-top: -15px;
}

.page__footer{
  width: 100%;
  height: 150px;
  /* background-color: yellow; */
}
.page__footer .bt{
  /* margin: 15px  auto; */
  margin:75px 25% 15px 25%;
  width: 170px;
  height: 35px;
  border: 2px solid #1afa29;
  text-align: center;
  background-color: #fff;
  color: #1afa29;
 
  
}
